.mood-history-title {
  font-weight: bold;
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

.mood-history {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}

.mood-history-item {
  padding: 0.5rem;
  font-size: smaller;
}
